<div class="main-wrapper">
    <!-- MAIN CONTENT -->
    <main class="main-content">
        <div class="section-main-content pb-5">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="admin-links-block">
                        <div class="admin-links-heading"> <i class="fa fa-laptop" aria-hidden="true"></i> {{#str}}appearence, local_participant{{/str}} </div>
                        <div class="admin-links-list">
                            <ul>
                                <li><a href={{logos}}>{{#str}}logos, local_participant{{/str}}</a></li>
                                <li><a href={{coursecolors}}>{{#str}}course_colors, local_participant{{/str}}</a></li>
                                <li><a href={{navigation}}>{{#str}}navigation, local_participant{{/str}}</a></li>
                                <li><a href={{coursecontact}}>{{#str}}courses, local_participant{{/str}}</a></li>
                                <li><a href={{tag}}>{{#str}}manage_tags, local_participant{{/str}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ######################################## -->
                <div class="col-md-3 mb-4">
                    <div class="admin-links-block">
                        <div class="admin-links-heading"> <i class="fa fa-magic" aria-hidden="true"></i> <a href="#">{{#str}}themes, local_participant{{/str}}</a> </div>
                        <div class="admin-links-list">
                            <ul>
                                <li><a href={{themesettings}}>{{#str}}theme_settings, local_participant{{/str}}</a></li>
                                <li><a href={{themeindex}}>{{#str}}theme_selector, local_participant{{/str}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
