<div class="main-wrapper py-4">
<div class="container">
<div class="row">
{{#badges}}
<div class="col-md-2">
        <div class="badge-container-left text-center">
            <img class="img_size" src={{img}}>
             <ul class="badges">
             <li><a class="btn btn-prime btn-sm" title={{name}} href={{url}}><span class="badge-name">{{name}}</span></a></li>
             </ul>
   </div>
 </div>
  {{/badges}}
 </div>
 </div>
 </div>
