<div class="main-wrapper">
    <main class="main-content">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{url}}><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{#str}}purchase_history, local_participant{{/str}}</li>
                </ol>
            </div>
        </nav>
        <div class="page-header pt-0 pb-0">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-end">
                    <div class="col-md-auto page-header-left pt-2">
                        <h4 class="mb-1">{{#str}}purchase_history, local_participant{{/str}}</h4>
                        <p class="mb-0">{{#str}}view_purchase_history, local_participant{{/str}}</p>
                    </div>
                    <div class="col-md-auto page-header-right pt-2">
                        <a class="btn btn-sec btn-sm" href={{url}}>{{#str}}back_to_dashboard, local_participant{{/str}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-main-content">
            <div class="container-fluid">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <table class="table table-hover table-striped bg-white content-table mb-0">
                            <thead class="bg-white">
                                <tr>
                                    <th scope="col">{{#str}}serial_number, local_participant{{/str}}</th>
                                    <th scope="col">{{#str}}course_enrolled, local_participant{{/str}}</th>
                                    <th scope="col">{{#str}}enrollment_date, local_participant{{/str}}</th>
                                    <th scope="col">{{#str}}course_type, local_participant{{/str}}</th>
                                    <th scope="col">{{#str}}fee_amount, local_participant{{/str}}</th>
                                    <th scope="col">{{#str}}status, local_participant{{/str}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#enrolled_courses}}
                                <tr>
                                    <td class="fw600">{{count}}</td>
                                    <td><h6 class="mb-0"><a href={{course_url}}>{{coursename}}</a></h6></td>
                                    <td>{{course_enrollment}}</td>
                                    <td>E-Learning</td>
                                    <td>{{amount}}</td>
                                    <td><span class="badge badge-warning">{{#str}}in_progress, local_participant{{/str}}</span></td>
                                </tr>
                                {{/enrolled_courses}}
                                {{#completed_courses}}
                                <tr>
                                    <td class="fw600">{{count}}</td>
                                    <td><h6 class="mb-0"><a href={{course_url}}>{{coursename}}</a></h6></td>
                                    <td>{{course_enrollment}}</td>
                                    <td>E-Learning</td>
                                    <td>{{amount}}</td>
                                    <td><span class="badge badge-success">{{#str}}completed, local_participant{{/str}}</span></td>
                                </tr>
                                {{/completed_courses}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
