  <div class="main-wrapper">
        <!-- MAIN CONTENT -->
        <main class="main-content">
            <div class="section-main-content pb-5">
                <div class="alert alert-danger d-flex justify-content-between align-items-center py-2">
                    Your site is not yet registered.
                    <a class="btn btn-dark btn-sm px-4 py-2" href="#">Register your site</a>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 mb-4">
                        <div class="admin-links-block">
                            <div class="admin-links-heading"><i class="fa fa-file-text-o" aria-hidden="true"></i> Reports </div>
                            <div class="admin-links-list">
                                <ul>
                                    <li><a href={{report_configlog}}>Config changes</a></li>
                                    <li><a href={{report_coursestats}}>Courses usage statistics</a></li>
                                    <li><a href={{report_eventlist}}>Events list</a></li>
                                    <li><a href={{report_log}}>Logs</a></li>
                                    <li><a href={{report_loglive}}>Live logs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ######################################## -->
                    <div class="col-md-3 mb-4">
                        <div class="admin-links-block">
                            <div class="admin-links-heading"> <i class="fa fa-laptop" aria-hidden="true"></i> <a href="#">Reports Builder</a> </div>
                            <div class="admin-links-list">
                                <ul>
                                    <li><a href={{report_reportbuilder}}>Custom reports</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>