<div class="main-wrapper">
        <main class="main-content">
         
            <!-- PAGE HEADING -->
            <div class="page-header pt-0 pb-0">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-end">
                        <div class="col-md-auto page-header-left pt-2">
                            <h4 class="mb-1">Support</h4>
                            <p class="mb-0">Feel free to contact us for support regarding Lecture, Course Material or any other related information</p>
                        </div>
                        <div class="col-md-auto page-header-right pt-2">
                            <a class="btn btn-sec btn-sm" href={{url}}>Back to Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN CONTENT -->
            <div class="section-main-content">
                <div class="container-fluid">
                    <div class="card-support card shadow-sm">
                        <h6 class="card-header bg-transparent border-0 px-5 pt-5">Ask for support by any convenient method</h6>
                        <div class="card-body px-5 pb-5 pt-3">
                             <div class="row">
                                 <!--div class="col-md-4 mt-2 mb-2">
                                     <div class="card-support-block card shadow-sm shadow-sm bg-purple-light-3">
                                        <div class="d-flex px-3 pt-3 pb-2">
                                            <div class="flex-shrink-0 mr-3">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="fw600 mb-0 text-uppercase">Phone</h6>
                                                <p class="text-prime-light-3 mb-0 fw500">Get support on phone</p>
                                            </div>
                                        </div>
                                         <div class="card-body m-1 rounded-lg border bg-white">
                                             <p class="mb-1"><a href="tel:+91 9654190274">+91 965 419 0274</a></p>
                                             <p class="mb-1"><a href="tel:+91 78380 00185">+91 783 800 0185</a></p>
                                             <p class="mb-0"><a href="tel:+91 98913 95363">+91 989 139 5363</a></p>
                                         </div>
                                     </div>
                                 </div-->

                                 <div class="col-md-4 mt-2 mb-2">
                                     <div class="card-support-block card shadow-sm shadow-sm bg-purple-light-3">
                                        <div class="d-flex px-3 pt-3 pb-2">
                                            <div class="flex-shrink-0 mr-3">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="fw600 mb-0 text-uppercase">Email</h6>
                                                <p class="text-prime-light-3 mb-0 fw500">Write to us for any support </p>
                                            </div>
                                        </div>
                                         <div class="card-body m-1 rounded-lg border bg-white">
                                             <p class="mb-1"><a href="mailto:Amit.Chauhan1@IN.GT.COM">Amit.Chauhan1@IN.GT.COM</a></p>
                                             <p class="mb-1"><a href="mailto:Muskaan.Khanna@IN.GT.COM">Muskaan.Khanna@IN.GT.COM</a></p>
                                             <p class="mb-0"><a href="mailto:Kapil.Arora@IN.GT.COM">Kapil.Arora@IN.GT.COM</a></p>
                                         </div>
                                     </div>
                                 </div>

                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>