<div class="main-wrapper">
    <!-- MAIN CONTENT -->
    <main class="main-content">
        <div class="section-main-content pb-5">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="admin-links-block">
                        <div class="admin-links-heading"> <i class="fa fa-book"></i> <a href="#">{{#str}}accounts, local_participant{{/str}}</a> </div>
                        <div class="admin-links-list">
                            <ul>
                                <li><a href={{user}}>{{#str}}browse_list_of_users, local_participant{{/str}}</a></li>
                                <li><a href={{user_bulk}}>{{#str}}bulk_user_actions, local_participant{{/str}}</a></li>
                                <li><a href={{user_editadvanced}}>{{#str}}add_new_user, local_participant{{/str}}</a></li>
                                <li><a href={{usermanagement}}>{{#str}}user_management, local_participant{{/str}}</a></li>
                                <li><a href={{userdefaultpreferences}}>{{#str}}user_default_preferences, local_participant{{/str}}</a></li>
                                <li><a href={{user_profile}}>{{#str}}user_profile_fields, local_participant{{/str}}</a></li>
                                <li><a href={{usercohort}}>{{#str}}cohorts, local_participant{{/str}}</a></li>
                                <li><a href={{uploaduser}}>{{#str}}upload_users, local_participant{{/str}}</a></li>
                                <li><a href={{uploaduser_picture}}>{{#str}}upload_user_pictures, local_participant{{/str}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ######################################## -->
                <div class="col-md-3 mb-4">
                    <div class="admin-links-block">
                        <div class="admin-links-heading"> <i class="fa fa-thumbs-up"></i> <a href="#">{{#str}}permissions, local_participant{{/str}}</a> </div>
                        <div class="admin-links-list">
                            <ul>
                                <li><a href={{userpolicies}}>{{#str}}user_policies, local_participant{{/str}}</a></li>
                                <li><a href={{admin_roles}}>{{#str}}site_administrators, local_participant{{/str}}</a></li>
                                <li><a href={{admin_roles_manage}}>{{#str}}define_roles, local_participant{{/str}}</a></li>
                                <li><a href={{user_assign}}>{{#str}}assign_system_roles, local_participant{{/str}}</a></li>
                                <li><a href={{user_role_check}}>{{#str}}check_system_permissions, local_participant{{/str}}</a></li>
                                <li><a href={{user_capability}}>{{#str}}capability_overview, local_participant{{/str}}</a></li>
                                <li><a href={{cohortroles}}>{{#str}}assign_user_roles_to_cohort, local_participant{{/str}}</a></li>
                                <li><a href={{unsuproles}}>{{#str}}unsupported_role_assignments, local_participant{{/str}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ######################################## -->
                <div class="col-md-3 mb-4">
                    <div class="admin-links-block">
                        <div class="admin-links-heading"> <i class="fa fa-eye-slash"></i> <a href="#">{{#str}}privacy_and_policies, local_participant{{/str}}</a> </div>
                        <div class="admin-links-list">
                            <ul>
                                <li><a href={{policysettings}}>{{#str}}privacy_settings, local_participant{{/str}}</a></li>
                                <li><a href={{admin_privacysettings}}>{{#str}}policy_settings, local_participant{{/str}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
