 {{#donotload}}
{{#isInformation}}
    <h3 class="no">{{information}}</h3>
{{/isInformation}}
{{^isInformation}}
    <h3 class="no"><span class="qno">{{questionx}}</span></h3>
{{/isInformation}}

{{/donotload}}