{{#donotload}}
<div class="card-body border-bottom">
     <div class="d-flex">
      <div class="flex-grow-1">
   <p class="mb-1 text-dark fw600"> <span class="fw600">{{file_name}}<small class="text-prime-light-1">[{{total_questions}} questions]</small></span> </p>
 </div>
  <div class="flex-shrink-0">
  <div class="d-flex align-items-center h-100">
  <div class="course-progress d-inline-block pl-3">
       <img class="img-fluid mx-auto d-block" src="images/quiz-progress.png" alt="">
   </div>
 </div>
 </div>

</div>
</div>
{{/donotload}}